<h1>Client Settings</h1>

<legend>System Information</legend>
<p>
<strong>Hostname: </strong>
<%= @client.hostname %><br>
<strong>Port: </strong>
<%= @client.port %>
</p>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapsew">
          w
        </a>
      </h4>
    </div>
    <div id="collapsew" class="panel-collapse collapse">
      <div class="panel-body">
        <pre><code><%= @client.uptime.gsub("\n", '<br>').html_safe rescue nil %></code></pre>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapsedf">
          df -h
        </a>
      </h4>
    </div>
    <div id="collapsedf" class="panel-collapse collapse">
      <div class="panel-body">
        <pre><code><%= @client.dfh.gsub("\n", '<br>').html_safe rescue nil %></code></pre>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapsefree">
          free -m
        </a>
      </h4>
    </div>
    <div id="collapsefree" class="panel-collapse collapse">
      <div class="panel-body">
        <pre><code><%= @client.free.gsub("\n", '<br>').html_safe rescue nil %></code></pre>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseifconfig">
          ifconfig
        </a>
      </h4>
    </div>
    <div id="collapseifconfig" class="panel-collapse collapse">
      <div class="panel-body">
        <pre><code><%= @client.ifconfig.gsub("\n", '<br>').html_safe rescue nil %></code></pre>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseroute">
          route
        </a>
      </h4>
    </div>
    <div id="collapseroute" class="panel-collapse collapse">
      <div class="panel-body">
        <pre><code><%= @client.route.gsub("\n", '<br>').html_safe rescue nil %></code></pre>
      </div>
    </div>
  </div>
</div>

<legend>Settings <font size='1'>Changing these will restart any existing SSH tunnels</font></legend>

<%= form_for @client do |f| %>
  <label>User to SSH as:
  <%= f.text_field :user %></label><br>
  <label>Keep client SSH configs up to date:
  <%= f.check_box :update_configs %></label><br>
  <%= f.submit 'Save' %>
<% end %>
