<h1>Client Settings</h1>

<h4>These settings cannot be modified</h4>
<p>
<strong>Hostname: </strong>
<%= @client.hostname %><br>
<strong>Port: </strong>
<%= @client.port %>
</p>

<p><strong>w:</strong><br>
<pre><code><%= @client.uptime.gsub("\n", '<br>').html_safe %></code></pre></p>

<p><strong>df -h:</strong><br>
<pre><code><%= @client.dfh.gsub("\n", '<br>').html_safe %></code></pre></p>

<p><strong>free -m:</strong><br>
<pre><code><%= @client.free.gsub("\n", '<br>').html_safe %></code></pre></p>

<h4>Modifying the settings below will restart any existing SSH tunnels</h4>

<%= form_for @client do |f| %>
  <label>User to SSH as:
  <%= f.text_field :user %></label><br>
  <label>Keep client SSH configs up to date:
  <%= f.check_box :update_configs %></label><br>
  <%= f.submit 'Save' %>
<% end %>
