<h1>Assigned Ports</h1>

<table>
  <tr>
    <th>Hostname</th>
    <th>Tunnel Port</th>
    <th>Last Report Time</th>
    <th>Local IP(s)</th>
    <th>Outside IP</th>
  </tr>
  <% @clients.each do |c| %>
    <tr>
      <td><%= c.hostname %></td>
      <td><%= c.port %></td>
      <td><%= c.last_report %></td>
      <td><%= c.local_ip %></td>
      <td><%= c.outside_ip %></td>
      <td><%= link_to 'Release Port', release_path(c), data: { confirm: 'Are you sure?' }, method: :delete %></td>
      <td><%= link_to 'Force Restart', restart_path(c), data: { confirm: 'Are you sure?' }, method: :delete %></td>
    </tr>
  <% end %>
</table>
